$main-font: 'Source Sans Pro';
$secondary-font: 'Playfair Display';

$color-a: #010101;
$color-b: #4d505a;
$color-c: #8c9093;
$color-d: #ebece9;
$color-e: #72747b;
$color-accent: #d2b384;

$background-light: #f5f3f1;

$media-break-point-m: 764px;
$media-break-point-s: 400px;
